html,
body {
	margin: 0px;
	height: 100%;
}

.box {
	height: 100%;
}
.side-pane {
	width: 100%;
	float: left;
}
.box-red {
	background: red;
}
.box-blue {
	background: blue;
}
.floatButton1 {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #ff851b;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}
.floatButton {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 110px;
	background-color: #ff851b;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.floatText {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 110px;
	right: 110px;
	background-color: #ff851b;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

#btns {
	display: block;
}

.my-float {
	margin-top: 22px;
}

body {
	font-family: "Roboto", sans-serif;
}

.selectdiv select {
	/* Add some styling */
	display: block;
	position: relative;
	width: 100%;
	height: 60px;
	margin: 5px 0px;
	padding: 0px 24px;
	font-size: 16px;
	line-height: 1.75;
	color: #333;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	-ms-word-break: normal;
	word-break: normal;
}
.closed {
	opacity: 0;
}
.open {
	opacity: 1;
}
